{% extends 'AppBundle::contracting.html.twig' %}
{% block body %}
     <div class="row">

     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> CONTRACT NOTICE - {{ contract.referenceNumber }} : {{ contract.title }}</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
           </ul>
        </div>
        </div>
      </nav>        
     <div class="col-md-3">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Completing the form...<span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('contract_notice_step1_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Preliminary Questions </a></li>
            <li><a href="{{ path('contract_notice_step2_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section I : Object of the contract </a></li>
            <li><a href="{{ path('contract_notice_step3_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section II : Legal,economic,financial and technical information </a></li>
            <li><a href="{{ path('contract_notice_step4_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section III : Procedure </a></li>
            <li><a href="{{ path('contract_document_view',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section IV : Documents of the contract</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Validation </a></li>
          </ul>
         </div>
    <div class="col-md-9">
       <h4 class="sub-header">STEPS TO PUBLISH THIS CONTRACT NOTICE</h4>
       <div class="row">
       <div class="col-md-9">
            <h3> 1. Form Filling. </h3>
               {% if errors is empty %}
                 <h5><strong>Form is filled</strong></h5>
               {% else %}
                 <h5><strong>The form has the following errors</strong></h5>
                 {{ include('@AppBundle/Resources/views/Admin/contract_notice_validation_error.html.twig', { 'errors': errors }) }}
               {% endif %}
            <h3> 2. Form Validation. </h3>
               {% if errors is empty %}
                 <h5><strong>Form is valid</strong></h5>  
               {% else %}
                 <h5><strong>Form is not valid</strong></h5>  
               {% endif %}     
           <h3> 3. Publish and return to the contract notices. </h3>
                {% if errors is empty %}
                 <p><strong>Click the button on the top right of the screen to publish the contract notice</strong></p>  
                {% else %}
                 <p><strong>Please correct the form to proceed with publication of the contract notice</strong></p>  
                {% endif %} 
           
        </div>
           <div class="col-md-3">
                <div class="pull-right">
                    {% if errors is empty %}
                      <a href="{{ path('contract_publication',{'id':contract.id}) }}">
                        <button id="publish"  type="button" class="btn btn-default" >
                           Publish 
                        </button>   
                      </a> 
                    {% else %}
                      <button disabled type="button" class="btn btn-default" >
                           Publish 
                        </button>
                    {% endif %}
                    
             </div>
           </div>
       </div>
   </div>
</div>
                                        
{% endblock %}

