{% extends 'AppBundle::contracting.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="page-header">Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Details</a></li> 
                    <li role="presentation" ><a href="#">Parameters</a></li> 
                    <li role="presentation" ><a href="{{ path('contracting_view_dossier_associated_officers',{'id':contract}) }}">Associated Officers</a></li> 
                    <li role="presentation" ><a href="{{ path('contracting_view_dossier_prequalified',{'id':contract}) }}">Shortlist</a></li>
                    <li role="presentation" ><a href="{{ path('contracting_open_tenders',{'id':contract}) }}">Open Tenders</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="margin-top:45px"></div>  
                <p>
                   Current time: {{ "now"|date("d/m/Y h:i:s") }}
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <img src="{{ asset('images/Logo.PNG') }}" width="150" height="120" alt="IFMIS Logo" title="IFMIS Logo" />
                    </div>
                    <div style="margin-top:150px"></div>
                    <div class="table-responsive">      
                    <table class="table table-striped table-bordered">
                        {% for dossier in dossier %}
                            <tr>
                                <td colspan="2" >
                                    <h3> 
                                        {{ dossier.title }}
                                    </h3>
                                </td>
                            </tr>
                            <tr><th>Dossier Ref No</th>
                                <td>
                                    {{ dossier.referenceNumber }}
                                </td>
                            </tr>
                            <tr><th>Type</th>
                                <td>
                                    {{dossier.procedureType}}
                                </td>
                            </tr>
                            <tr><th>Status</th>
                                <td>
                                    {{ dossier.status}}
                                </td>
                            </tr>
                            <tr><th>Tender deadline</th>
                                <td>
                                    {{ dossier.closingDate|date("d/m/Y h:m:s")}}
                                </td>
                            </tr>
                            <tr><th>Description</th>
                                <td>
                                    {{ dossier.description }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


