{# src/AppBundle/Resources/views/Security/login.html.twig #}
    <!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    {% stylesheets 'bundles/procurement/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  </head>

  <body>
 <div class="navbar navbar-fixed-top">

            <div class="navbar-inner">

                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 				
                    </a>

                    <a href="{{ path('homepage') }}" class="brand">E-PROCUREMENT PORTAL</a> 

                    <div class="nav-collapse">

                        <ul class="nav pull-right">

                            <li class="">
                                <a href="{{ path('homepage') }}">
                                    <i class="icon-chevron-left"></i> 
                                    <span style="color:burlywood;">Back to Homepage</span></a> 
                            </li>
                        </ul>

                    </div> <!-- /nav-collapse -->

                </div> <!-- /container -->

            </div> <!-- /navbar-inner -->

        </div> <!-- /navbar -->

       
        <div id="login-container">

                <div id="login-header">

    <h3 style="color:blueviolet;">Login</h3>

</div> <!-- /login-header -->

<div>
      
</div>
<div id="login-content" class="clearfix">
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" id="UserLoginForm" method="post" accept-charset="utf-8">
        <div style="display:none;">
            <input type="hidden" name="_method" value="POST"/>
        </div>
        <fieldset>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                 <input type="password" id="password" name="_password" />
            </div>
        </div>
                
    </fieldset>
           
             <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >            
    <div class="pull-right">
        <button type="submit" class="btn btn-warning btn-large">Login</button>
    </div>
</form>

</div> <!-- /login-content -->

<div id="login-extra">

   <!-- <p>
     <a href="/site/tenders.go/index.php/procuring_entities/register" class="btn btn-info btn-large">Create account Here..</a>   </p>-->

    <p> 
          <a href="/site/tenders.go/index.php/users/forgot">Forgot Password? Retrieve.</a>  
    </p>

</div> <!-- /login-extra -->
        </div> <!-- /login-wrapper -->
    {% javascripts '@AppBundle/Resources/public/js/*' %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
      </body>
</html>
