{% extends 'AppBundle::admin.html.twig' %}
{% block body %}
{{ form_start(form) }}
{{ form_errors(form) }} 
   <div class="row">
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> CONTRACT NOTICE - {{ contract.referenceNumber }} : {{ contract.title }}</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
           </ul>
        </div>
        </div>
      </nav>        
    
     <div class="col-md-3">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Completing the form...<span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('contract_notice_step1_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Preliminary Questions </a></li>
            <li><a href="{{ path('contract_notice_step2_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section I : Object of the contract </a></li>
            <li><a href="{{ path('contract_notice_step3_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section II : Legal,economic,financial and technical information </a></li>
            <li><a href="{{ path('contract_notice_step4_edit',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section III : Procedure </a></li>
            <li><a href="{{ path('contract_document_view',{'id':contract.id}) }}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Section IV : Documents of the contract </a></li>
          </ul>
         </div>
    <div class="col-md-9">
       <h4 class="sub-header">Uploading a new contract document</h4>
       <div class="col-md-6">
           {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Upload" class="btn btn-default pull-right"/>
                </div>
       </div>
   </div>
   </div>
{{ form_end(form) }}
{% endblock %}
