{% extends 'AppBundle::admin.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col-md-12 text-center">
        <h3 class="page-header">Associate officers to dossier</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
         <p>
           Please select and define the Opening Officers you wish to associate with the selected dossier.
          </p> 
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <nav>
            <ul class="nav nav-tabs">
              <li role="presentation" ><a href="{{ path('admin_view_dossier_details',{'id':contract}) }}">Details</a></li> 
              <li role="presentation" ><a href="#">Parameters</a></li> 
              <li role="presentation" class="active"><a href="#">Associated Officers</a></li>
              <li role="presentation" ><a href="{{ path('admin_view_dossier_prequalified',{'id':contract}) }}">Shortlist</a></li>
              <li role="presentation" ><a href="{{ path('admin_open_tenders',{'id':contract}) }}">Open Tenders</a></li>
            </ul>
          </nav>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div style="margin-top:45px"></div>  
             <p>
               Current time: {{ "now"|date("m/d/Y h:m:s") }}
             </p>
      </div>
  </div>
 <div class="row">
     <div class="col-md-12">
       <table id="contract-officers" class="table table-striped table-bordered" cellspacing="0" width="100%">
               <thead>
                   <tr>
                       <th>Name</th>
                       <th>Permission</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tfoot>
                   <tr> 
                       <th>Name</th>
                       <th>Permission</th>
                       <th>Action</th>
                   </tr>
               </tfoot>
           </table>
        </div>
 </div>
  <div class="row">
     <div class="col-md-12">
         <div class="pull-right">
         <p>
            <a href="{{ path('admin_new_dossier_associated_officer',{'id':contract}) }}" class="btn btn-info btn-large">Add</a>
         <p> 
   </div> 
     </div>     
  </div> 
 <script type="text/javascript">
      $(document).ready(function() {
      $('#contract-officers').DataTable( {
        "ajax": "{{ path('admin_associated_officers_loader',{'id':contract}) }}",
        "columns": [
            { "data": null,mRender: function ( data, type, full, meta ) {
               
                return (data.adminUser.firstname + " " + data.adminUser.lastname);
              } 
            },
            { "data": "permission"},
            { "data": null,mRender: function ( data, type, full, meta ) {
               var id=data.id;
               var pld = "{{ path('contract_officer_removal',{'id': "PLACEHODER"}) }}";
               var path=pld.replace("PLACEHODER", id);
              return '<a href="'+path+'">'+"Delete"+'</a>';
              }
            }
           ]
        });
       });
  </script>             
{% endblock %}



