{% extends 'AppBundle::admin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
           <h3 class="page-header">Submited Tenders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Please select from the list of tenders documents, submitted for the current dossiers, the document you wish to download for evaluation.By selecting the status section, you can obtain some more information about the reasons for rejection of the selected document.After download and evaluation of all the tender documents, Please provide information about the paper tender received by your authority, clicking here(hyperlink towards the insert paper tender section).If no paper tenders were received,please select to generate the Opening Report for this dossier, stored and accessible by an Economic Operator who wishes to receive it.
            </p>
        </div>
    </div>       
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="{{ path('admin_view_dossier_details',{'id':contract}) }}">Details</a></li> 
                    <li role="presentation" ><a href="#">Parameters</a></li> 
                    <li role="presentation" class="active"><a href="#">Tenders</a></li>
                    <li role="presentation" ><a href="#">PV Opening</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="margin-top:45px"></div>
            <p>
                Current time: {{ "now"|date("d/m/Y h:i:s") }}
            </p>
        </div>
    </div>
    <div class="row">   
        <div class="col-md-12">
            <ul class="list-group">
                {% for bid in bid %}
                    <li class="list-group-item text-center">
                        <h4>
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Electronic Tender {{ loop.index }}
                        </h4>
                    </li>
                    <li class="list-group-item text-center">
                        | {{ bid.economicUser }}
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group">
                        <li class="list-group-item">    
                         <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <tr>
                                <th>&nbsp;&nbsp;</th>
                                <th>Title</th>
                                <th>File Name</th>
                                <th>Signature Date</th>
                                <th>Upload Date</th>
                            </tr>
                                    {% for tender in bid.tenders %}
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                </td>
                                <td>
                                    {{ tender.title }}
                                </td>
                                <td>
                                    <a href="{{ asset('uploads/tenders/' ~ tender.filePath) }}"> {{ tender.fileName }} </a>
                                </td>
                                <td>
                                    {{ tender.signatureDate |date("d-m-Y H:i:s")}}
                                </td>
                                <td>
                                    {{ tender.uploadedAt |date("d-m-Y H:i:s")}}
                                </td>     
                            </tr>
                                {% endfor %}
                        </table>
                        </li>
                        <li class="list-group-item text-center">
                            {% if bid.bidEvaluations is empty %}
                                <p>No evaluation done for this bid</p>
                            {% else %}
                                <p>Bid evaluation</p>
                            {% endif %}   
                        <li class="list-group-item">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <th>Creteria</th>
                                    <th>Score</th>
                                    <th>Action</th>
                                </tr>
                            {% for evaluation in bid.bidEvaluations %}
                                <tr>
                                    <td>
                                        {{ evaluation.awardCreteria }}
                                    </td>
                                    <td>
                                        {{ evaluation.score }}                           
                                    </td>
                                    <td>
                                       <a href="{{ path('bidevaluation_removal' , { 'id': evaluation.id }) }}">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </li>
                         <li class="list-group-item">
                        <a href="{{ path('admin_evaluate_bid' , { 'id': bid.id }) }}"> Evaluate </a>
                         </li>
                        </ul>
                    </li>  
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}