{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
                <div class="row">
                    <div class="col-md-12 text-center">
                     <h5 class="page-header">My Dossiers</h5>
                    </div>
                </div>
<p>
Select  from the menu to display the dossier by status.
dossier displayed is associated with a notice.Select the Reference Number of the dossier you wish to access for performing the e-Tendering activities.
</p>
<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
       <div class="col-md-4">    
     <label class="control-label" for="username">Display dossiers :</label>
       </div>
     <div class="col-md-6">
     <select id="dossier-status">
       <option value="0">I am involved in</option>
       <option value="1">that are active</option> 
     </select>
         </div>
      </div>
  </div>
 </div>
 <div id="table-section">
 </div>
<script type="text/javascript">
   
      $('#table-section').html('<table id="dossiers" class="table table-striped table-bordered" cellspacing="0" width="100%"><thead><tr><th>Reference Number</th><th>Subject</th><th>Type</th><th>Status</th></tr></thead><tfoot><tr><th>Reference Number</th><th>Subject</th><th>Type</th><th>Status</th></tr></tfoot></table>');

      $(document).ready(function() {
      $('#dossiers').DataTable( {
        "ajax": "{{ path('user_view_associated_dossier') }}",
        "columns": [
            {"data": null,mRender: function ( data, type, full, meta ) {
               var id=data.id;
               var pld = "{{ path('user_view_associated_dossier_details',{'id': "PLACEHODER"}) }}";
               var path=pld.replace("PLACEHODER", id);
               
              return '<a href="'+path+'">'+data.referenceNumber+'</a>';
              }},
            { "data": "title" },
            { "data": "procedureType" },
            { "data": "status" }
           ]
        });
       });
  </script> 
 <script type="text/javascript">
  var $x = $('#dossier-status');    
  $x.change(function() {
     if (this.value ==1) {
      $('#table-section').html('<table id="dossiers" class="table table-striped table-bordered" cellspacing="0" width="100%"><thead><tr><th>Reference Number</th><th>Subject</th><th>Type</th></tr></thead><tfoot><tr><th>Reference Number</th><th>Subject</th><th>Type</th></tr></tfoot></table>');
      $(document).ready(function() {
      $('#dossiers').DataTable( {
        "ajax": "{{ path('user_view_active_dossier') }}",
        "columns": [
            {"data": null,mRender: function ( data, type, full, meta ) {
               var id=data.id;
               var pld = "{{ path('user_view_active_dossier_details',{'id': "PLACEHODER"}) }}";
               var path=pld.replace("PLACEHODER", id);
               
              return '<a href="'+path+'">'+data.referenceNumber+'</a>';
              }},
            { "data": "title" },
            { "data": "procedureType" }
           ]
        });
      
        });
     }else{
      $('#table-section').html('<table id="dossiers" class="table table-striped table-bordered" cellspacing="0" width="100%"><thead><tr><th>Reference Number</th><th>Subject</th><th>Type</th><th>Status</th></tr></thead><tfoot><tr><th>Reference Number</th><th>Subject</th><th>Type</th><th>Status</th></tr></tfoot></table>');
      $(document).ready(function() {
      $('#dossiers').DataTable( {
        "ajax": "{{ path('user_view_associated_dossier') }}",
        "columns": [
            {"data": null,mRender: function ( data, type, full, meta ) {
               var id=data.id;
               var pld = "{{ path('user_view_associated_dossier_details',{'id': "PLACEHODER"}) }}";
               var path=pld.replace("PLACEHODER", id);
               
             return '<a href="'+path+'">'+data.referenceNumber+'</a>';
              }},
            { "data": "title" },
            { "data": "procedureType" },
            { "data": "status" }
           ]
        });
       });
     }
});    
</script>
{% endblock %}

