{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="page-header">My Profile</h3>
        </div>
    </div>
    <nav>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Contact Person</a></li> 
            <li role="presentation"><a href="{{ path('user_company_profile_edit') }}">Company Details</a></li> 
            <li role="presentation"><a href="{{ path('user_profile_attachment_view') }}">Attachments</a></li>
            <li role="presentation"><a href="{{ path('user_profile_account_view')}}">Account</a></li> 
        </ul>
    </nav>
    <div class="panel-default">
        <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">{{ form_label(form.firstName,'First Name') }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                {{ form_errors(form.firstName) }}       
                                {{ form_row(form.firstName) }}
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">{{ form_label(form.lastName,'Last Name') }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                {{ form_errors(form.lastName) }}       
                                {{ form_widget(form.lastName) }}
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">{{ form_label(form.address,'Address') }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                {{ form_errors(form.address) }}       
                                {{ form_widget(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">{{ form_label(form.phoneNumber,'Phone Number') }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                {{ form_errors(form.phoneNumber) }}       
                                {{ form_widget(form.phoneNumber) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="label label-default">{{ form_label(form.email,'Email') }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                {{ form_errors(form.email) }}       
                                {{ form_widget(form.email) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                            <input type="submit" value="Save" class="btn btn-default pull-right"/>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
{{ form_end(form) }}
{% endblock %}    
